.inliner {
    width: 200px;
    position: absolute;
    right: 20px;
    fontsize: 18px;
    top: 130px;
    z-index: 100;
    background: white;
    padding: 10px;
    border: 1px solid #777;

    .inline-targets {
        font-size: 12px;
        margin-bottom: 5px;
        ul {
            list-style-position: inside;
            padding-left: 0;
        }

        .inline-targets-missing {
            font-size: 14px;
            color: red;
            font-weight: bold;
        }

    }

    h3 {
        font-size: 14px;
    }

    .inline-module-suggestion {
        font-size: 12px;
    }

    .inline-spinner {
        position: absolute;
        right: 20px;
        top: 30px;
        border: 4px solid #ccc;
        /* Light grey */
        border-top: 4px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .inline-diff-panel {
        $width: 1140px;
        position: fixed;
        bottom: 0;
        width: $width;
        left: calc(50% - #{$width}/2);
        height: 600px;
        background: white;
        border: 1px solid #777;
    }
}
